{% extends 'web/struct/layout_root.html' %}
{% block body %}

<section id="top" class="one dark cover">
  <div class="container">

    <header>
      <h2 class="alt">
	<strong>Pivoting</strong> your <a href="#">Web Applications</a>
      </h2>
      <p>
	The <a>APIPivot</a> service allows developers, ISVs and SaaS vendors to easily and securely interconnect their web applications. </p>
    </header>

    <footer>
      <a href="{{ url_for('web.login_github') }}" class="button scrolly">Sign up free with GitHub</a><br />
      No Github? <a href="{{ url_for('web.signup') }}">Sign up free with email</a>
    </footer>
    
  </div>
</section>


<section id="howitworks" class="two">
  <div class="container">

    <header>
      <h2>How It Works</h2>
    </header>    
    <p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
      ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
      laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
      parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
      dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
      ornare iaculis.</p>

  </div>
</section>

<section id="usecases" class="three">
  <div class="container">
    
    <header>
      <h2>Usecases</h2>
    </header>

    <a href="#" class="image featured"><img src="{{ url_for('.static', filename='images/pic08.jpg')}}" alt="" /></a>
    
    <p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
      egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
      Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
      fusce hendrerit lacus ridiculus.</p>
  </div>
  </section>


{% endblock %}
