{% extends 'web/struct/layout_root.html' %}
{% block body %}

<section id="top" class="one dark cover">
  <div class="container">

    <header>
      <h2 class="alt">
	<strong>Pivoting</strong> your <a href="#">Web Applications</a>
      </h2>
      <p>
	The <a>WebPivot</a> service allows developers, ISVs and SaaS vendors to easily and securely interconnect their web applications. </p>
    </header>

    <footer>
      <a href="#pivots" class="button scrolly">Configure your pivots</a>
    </footer>
    
  </div>
</section>


<section id="pivots" class="two">
  <div class="container">
    <header>
      <h2>Pivots</h2>
    </header>

    <p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
      egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
      Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
      fusce hendrerit lacus ridiculus.</p>


    <div class="row">
      {% for pivot in g.user.pivots %}
      <div class="4u 12u$(mobile)">
	<article class="item">
	    (todo) Graphic of the API consomation
	  <header>
	    <h3><a href="{{ url_for('web.pivot_details', pivot_uuid=pivot.uuid) }}">{{ pivot.name }}</a></h3>
	    <strong>{{ pivot.nb_producers }}</strong> producers / <strong>{{ pivot.nb_consumers }}</strong> consumers
	  </header>
	</article>
      </div>
      {% endfor %}
      <div class="4u 12u$(mobile)">
	<article class="item">
	    New New New New
	    <header>
	      <h3><a href="{{ url_for('web.create_pivot') }}">+ New Pivot</a></h3>
	      Create a pivot	      
	  </header>
	</article>
      </div>

    </div>

  </div>
</section>



<section id="account" class="three">
  <div class="container">

    <header>
      <h2>Account</h2>
    </header>

    <a href="#" class="image featured"><img src="{{ url_for('.static', filename='images/pic08.jpg')}}" alt="" /></a>

    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
	{{ form.email.label }}
	{{ form.email(size=32,readonly=true) }}
      </div>
      <div class="form-group">
	{{ form.username.label }}
	{{ form.username(size=32) }}
      </div>
      <div class="form-group">
	{{ form.password1.label }}
	{{ form.password1(size=32) }}
      </div>
      <div class="form-group">
	{{ form.password2.label }}
	{{ form.password2(size=32) }}
      </div>
      {{ form.submit() }}
    </form>
    </p>

  </div>
</section>


<section id="contact" class="three">
  <div class="container">

  </div>
</section>


{% endblock %}
