{% extends 'web/struct/layout_pivot.html' %}
{% block body %}

<section id="summary" class="two">
  <div class="container">
    <header>
      <h2>Pivot {{ pivot.name }}</h2>
    </header>
    <p>{{ pivot.description }}</p>

  </div>
</section>

<section id="producers_consumers" class="three">
  <div class="container">
    <div class="row">
      <div id="producers" class="6u 12u$(mobile)">	
	<header>
	  <h2>Producers <a href="{{ url_for('web.create_producer', pivot_uuid=pivot.uuid) }}"><i class="fa fa-plus"></i></a></h2> 
	</header>
	<ul>
	  
	  {% for producer in pivot.producers %}
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <a href="{{ url_for('web.producer_details', pivot_uuid=pivot.uuid, producer_uuid=producer.uuid) }}">
		<h3 class="panel-title pull-left">Producer #{{ producer.id }}</h3>
	      </a>
	      <span class="menu">
		<a href="#"><i class="fa fa-pencil"></i></a>
		<a href="#"><i class="fa fa-trash"></i></a>
		</span>
	    </div>
	    <div class="panel-body">
	      <p>
		<ul>
		  <li><strong>URL: </strong> {{ producer.url }}</li>
		  
		</ul>
	      </p>
	    </div>
	  </div>
	  {% endfor %}

	</ul>

      </div>
      <div id="consumers" class="6u 12u$(mobile)">	
	<header>
	  <h2>Consumers <a href="{{ url_for('web.create_consumer', pivot_uuid=pivot.uuid) }}"><i class="fa fa-plus"></i></a></h2>
	</header>
	{% for consumer in pivot.consumers %}
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title pull-left">Consumer #{{ consumer.id }}</h3>
	    <span class="menu">
	      <a href="#"><i class="fa fa-pencil"></i></a>
	      <a href="#"><i class="fa fa-trash"></i></a>
	      </span>
	  </div>
	  <div class="panel-body">
	    <p>
	      <ul>
		<li><strong>URL: </strong> {{ consumer.url }}</li>

	      </ul>
	    </p>
	  </div>
	</div>
	{% endfor %}

      </div>
    </div>
  </div>
  
</section>

<section id="live" class="four">
  <header>
    <h2>Latest web calls</h2>
    </header>
    <div class="container">


      
  <div class="panel panel-primary" style="border:1px solid #000000">
    <div class="panel-body">
      <table class="default" id="live-table">
	<thead>
	  <tr>
	    <td>uuid</th>
            <th>received at</th>
            <th>request</th>
	  </tr>  
	</thead>
	<tbody>
	  {% for webcall in pivot.get_last_webcalls() %}
	  <tr>
	    <td>{{ webcall.uuid }}</td>
	    <td>{{ webcall.published_at }}</td>
	    <td>{{ webcall.request }}</td>
	  </tr>
	  {% endfor %}

	  
	</tbody>
      </table>
</div>
    </div>
  </div>

  
</section>


{% endblock %}

{% block custom_js%}
<script type="text/javascript">
  function onNewUpdate(message) {
      document.getElementById('live-table').insertRow(1).insertCell(0).appendChild(
	  document.createTextNode(message.data)
      );
  }

var source = new EventSource('http://127.0.0.1:8081/sub/hello');
  source.onmessage = onNewUpdate;
</script>
{% endblock %}
